@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #e0e8ff;
  min-height: 100vh;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #e0e8ff;
  width: 327px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  overflow: hidden;
}

.main-img {
  width: 100%;
}

.card-content {
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  color: #1f2e55;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.description {
  color: #717fa6;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  margin-top: 16px;
}

.offer {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 11px;
  background: #f7f9ff;
  align-items: center;
  margin-top: 24px;
}
.offer:hover svg {
  transition: transform 1s ease-in-out;
  transform: rotate(360deg);
}
.offer:hover svg path {
  fill: #cd7df3;
}
.offer:hover svg circle {
  fill: #75ecca;
}

.annual {
  display: flex;
  gap: 20px;
  font-size: 14px;
  align-items: center;
}
.annual .header {
  color: #1f2e55;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.annual .price {
  color: #717fa6;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.flex-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.change-link {
  color: #382ae1;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
  transition: 0.3s;
}
.change-link:hover {
  color: #766cf1;
  text-decoration: none;
  transition: 0.3s;
}

.payment {
  width: 100%;
  border-radius: 11px;
  background: #382ae1;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  height: 50px;
  border: none;
  margin-top: 24px;

  /* text */
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s;
}

.payment:hover {
  background: #766cf1;
  transition: 0.3s;
}

.cancel {
  color: #717fa6;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.cancel:hover {
  color: #1f2e55;
  transition: 0.3s;
}

@media (min-width: 1440px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }
  .card {
    width: 450px;
  }
  .card-content {
    padding: 45px 48px 48px;
  }
  .title {
    font-size: 28px;
  }
  .description,
  .annual {
    font-size: 16px;
  }
  .change-link {
    font-size: 14px;
  }

  .flex-group {
    gap: 6px;
  }
  .description {
    margin-top: 17px;
  }
  .offer {
    margin-top: 20px;
    padding: 25px 24px;
  }
  .payment {
    margin-top: 32px;
  }
  .cancel {
    margin-top: 32px;
  }
}
